{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<h1>À propos de l’application</h1>

<p>
    Sky of Tonight est une application dédiée à l’exploration de l’espace :
    étoiles, constellations et galaxies.
</p>
{% endblock %}
