{% extends 'base.html.twig' %}

{% block title %}À propos - Sky of Tonight{% endblock %}

{% block body %}
    <h1>À propos de Sky of Tonight</h1>
    <p>Bienvenue sur notre application qui vous permet d’explorer les étoiles et le ciel nocturne 🌌</p>
{% endblock %}
