<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>À propos</title>
</head>
<body>
    <h1>À propos de l’application</h1>

    <p>Bienvenue sur notre application de TestWord 🎉</p>
</body>
</html>
