<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sky of Tonight{% endblock %}</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_star_day') }}">Étoile du jour</a></li>
            <li><a href="{{ path('app_about') }}">À propos</a></li>
        </ul>
    </nav>
    <hr>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    <hr>
    <p>&copy; {{ "now"|date("Y") }} Sky of Tonight</p>
</footer>

</body>
</html>
