{% extends 'base.html.twig' %}

{% block title %}Bonjour {{ name }}{% endblock %}

{% block body %}
    <h1>Bonjour {{ name }} 👋</h1>
    <p>Bienvenue sur Sky of Tonight, votre guide du ciel étoilé.</p>
{% endblock %}
