{% extends 'base.html.twig' %}

{% block title %}Accueil – Sky of Tonight{% endblock %}

{% block body %}
<h1>Bienvenue sur Sky of Tonight 🌌</h1>

<p>
    Explorez les étoiles, constellations et galaxies,
    partagez vos observations et vos commentaires.
</p>
{% endblock %}
