{% extends 'base.html.twig' %}

{% block title %}Étoile du jour{% endblock %}

{% block body %}
<h1>Étoile du jour 🌟</h1>

<p><strong>{{ star|upper }}</strong></p>

<p>Date : {{ "now"|date("d/m/Y") }}</p>

<p>
    Chaque jour, une étoile différente à découvrir.
</p>
{% endblock %}
