{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire{% endblock %}

{% block body %}
<h1>Modifier le commentaire</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn" type="submit">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('app_comment') }}">Retour à la liste</a>
{% endblock %}
