body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
     padding-top: 80px; /* hauteur de la navbar */
}

/* Zone principale */
.content {
    max-width: 1200px;
    margin: auto;
}

/* Bouton */
.btn-primary {
    background-color: #ff9800;
    border: none;
}

.btn-primary:hover {
    background-color: #e68900;
}

/* Tableau */
.table {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.table th {
    background-color: #ffcc80;
    text-align: center;
}

.table td {
    text-align: center;
    vertical-align: middle;
}
